spring:
  application:
    name: partyguham

  profiles:
    active: ${SPRING_PROFILES_ACTIVE}

  jpa:
    database: postgresql
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true
        temp:
          use_jdbc_metadata_defaults: false

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  security:
    user:
      name: admin
      password: 1234

server:
  port: ${PORT}
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    groups-order: DESC
    operationsSorter: method
    disable-swagger-default-url: true
    display-request-duration: true
  api-docs:
    path: /v3/api-docs
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
